NUXT_PUBLIC_PASTE_API=/api/paste

# For dev environment only
MEILI_MASTER_KEY=meili_search_master_key

# Keep UIDs and the master key the same to get same api keys
MEILI_SEARCH_KEY_UID=c36870f9-4432-56e7-a367-03fb250a78b4
MEILI_UPDATE_KEY_UID=affdec7f-f74c-581b-b084-4949be1fcdd1

# Can be obtained using scripts/updateMeiliKeys.js
MEILI_SEARCH_KEY=4378d643c228222c7fe26c37b0dca0fb3149c104ec91da355b533e15e509fe98
MEILI_UPDATE_KEY=621f53c0bc225a55fe601edd37ca99e65f54654e057cc76ed94d9695ca1b9eee
